<html>
<head>
	<meta charset="utf-8">
	<title>Czadowe Chłopaki</title>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='functions.js') }}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>

    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        align-content: center;
        background-color: #151617ff;
        padding: 10px;
        grid-gap: 10px;
    }

    .grid-item {
        background-color: #323538;
        border: 1px;
        padding: 20px;
        border-radius: 8px;
        align-content: center;
    }


    .button {
        background-color: #393c3f;
        border: none;
        color: white;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 2px 2px;
        cursor: pointer;
        border-radius: 8px;
    }

    .upload-btn-wrapper {
      position: relative;
      overflow: hidden;
      display: inline-block;
    }

    .upload-btn-wrapper input[type=file] {
      font-size: 100px;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
    }

    .border{
        border-style: none;
        border-width: thin;
        background: #323538;
        border-radius: 25px;
        width: 400px;
        padding-top: 1px;
        padding-right: 20px;
        padding-bottom: 10px;
        padding-left: 20px;
    }
    
    </style>

</head>

<body style="background-color:#151617ff; font-family: helvetica;" text="white">

<h1>Najdziwniejszy discoball jaki w życiu widziałeś </h1>
<div class="grid-container">

  
<div class="grid-item">
        <button class="button" id="test" onclick="myClick(1)">Włącz</button>
        <br>
        <button class="button" id="test" onclick="myClick(0)">Wyłącz</button>
        <br>
        <button class="button" id="test" onclick="myCommand()">Moj tekst</button>
        <br>
        <div class="dropdown">
            <button class="button" id="combobox" type="button" data-toggle="dropdown"> Lista Stacji
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li id ="station0" onclick = changeRadio(0) ><p class ="text-center"> AntyRadio Classic </p> </li>
              <li id ="station1" onclick = changeRadio(1) ><p class ="text-center"> AntyRadio Gratest </p></li>
            </ul>
        </div>
        <p id="txt" style="color:white" > Moj tekst </p>
        
</div>


</div>


</body>
</html>
